{{! Abilities Tab }}
<section
  class='tab features scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  <!-- 2 columns: core | personal -->
  <section class='grid grid-2col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}
      <div class='abilities flexcol'>
        {{#each system.abilities as |ability key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='1d6cs<=@abilities.{{key}}.value'
              data-flavor='Ability Check vs {{localize (lookup @root.config.abilities key)}}'
            >
              {{localize (lookup @root.config.abilities key)}}
            </label>
            <input
              type='text'
              name='system.abilities.{{key}}.value'
              value='{{ability.value}}'
              data-dtype='Number'
            />
          </div>
        {{/each}}
      </div>
    </aside>

    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}
      <div class='abilities flexcol'>
        {{#each system.abilitiesPersonal as |abilityPersonal key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='2d6cs<=@abilitiesPersonal.{{key}}.value'
              data-flavor='Ability Check vs {{localize (lookup @root.config.abilitiesPersonal key)}}'
            >
              {{localize (lookup @root.config.abilitiesPersonal key)}}
            </label>
            <input
              type='text'
              name='system.abilitiesPersonal.{{key}}.value'
              value='{{abilityPersonal.value}}'
              data-dtype='Number'
            />
          </div>
        {{/each}}
      </div>
    </aside>
   </section>
    <section class='main'>
      {{!-- Other main content can go here --}}
    </section>
  </section>